@import "normalize.scss";
@import "typography.scss";
@import "grid.scss";

/*!Variables*/

$charcoal: #292727;
$alomstwhite: #d1d1d1;
$green: #63CCB5;
$red: #AE2323;
$blue: #0080FF;

/*Variables End*/

/*!Mixins*/

@mixin hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@mixin transition {
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

@mixin form {
  outline: none;
  border: 1px solid lighten($charcoal, 50%);
  border-radius: 2px;
  -webkit-box-shadow: 
      inset 0 1px 2px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 
      inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 
      inset 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 2px 6px;
}
  
/*Mixins*/

/*!Sticky Footer*/

* {
  margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
  min-height: 90%;
  /* equal to footer height */
  margin-bottom: -75px; 
}

.wrapper:after {
  content: "";
  display: block;
}

.main-footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 75px; 
}


/*Sticky Footer End*/

/*!Fonts & Body*/ 

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 200;
    font-size: 1em;
    color: $charcoal;
    background-image: url(images/crossword.jpg)
}

::-webkit-input-placeholder {
   color: lighten($charcoal, 50%) !important;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 200;
   }
:-moz-placeholder { /* Firefox 18- */
   color: lighten($charcoal, 50%);
   font-family: 'Ubuntu', sans-serif;
   font-weight: 200;  
   }
::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($charcoal, 50%);
   font-family: 'Ubuntu', sans-serif;
   font-weight: 200;   
   }
:-ms-input-placeholder {  
   color: lighten($charcoal, 50%);
   font-family: 'Ubuntu', sans-serif;
   font-weight: 200;   
   }

a {
    color: $red;
}

a:hover {
    color: darken($red, 15%);
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    font-weight: 200;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
    font-weight: 200;
}

h1 a {
    font-family: 'Ubuntu', sans-serif;
    color: $charcoal;
}

h1 a:hover {
    color: $red;
}

h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

p {
  margin-bottom: 18px;
  line-height: 1.6em;
}

time {
  color: lighten($charcoal, 25%);
}

.word-break {
     word-break: break-all;
}
 
table {
  background-color: #f4f4f4;
  border: #e8e8e8;
  max-width: 100%;
  overflow: scroll;
  display: inline-block;
}

table th {
  text-align: left;
  padding: 12px 14px 12px 14px;
  border-bottom:2px solid #5f5f5f;
}

table td {
  padding: 12px 10px 12px 10px;
  border-bottom:1px solid #5f5f5f;
}

aside {
  margin-top: 20px;
}

aside h1 {
  background-color: #f4f4f4;
  padding-left: 20px;
  margin-bottom: 14px;
  border-bottom: 2px solid $blue;
}

.jetpack_subscription_widget .widget-title {
  border-bottom: none;  
}

/*Fonts & Body End*/ 

/*!Header-Main*/

.main-header {
    background-color: $charcoal;
    width: 100%;
    border-top: 4px solid $blue;
}

.main-header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    font-weight: 300;
    display: inline-block;
    margin-top: 10px;
}

.skull img {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 2px solid #000000;
  background-color: #000000;
  box-shadow: 0px 0px 4px lighten($charcoal, 15%);
  margin: 0px 10px 20px 0px;
}

.main-header h1 a, .main-header h1 a:hover {
    color: rgba(255,255,255,1);
}

.menu {
    margin-top: 20px;
}

.search {
    display: none;
}

/*Header End*/

/*!Footer-Main*/

.main-footer {
  background-color: $charcoal;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  clear: both;
}

.back-to-top {
  float: right;
  color: #ffffff;
  border: none;
  background-color: $red;
  outline: none;
  border-radius: 2px;
  padding: 2px 6px;
}

.back-to-top:hover {
  color: #ffffff;
}

.show-more {
  width: 100%;
  border: none;
  background-color: $red;
  outline: none;
  border-radius: 2px;
  padding: 6px 10px;
  text-align: center;
}

.show-more a{
  color: #ffffff;
}
.show-more:hover a{
  color: #ffffff;
}

/*Footer End*/

/*!Article*/ 

article {
  padding: 8px 0px 12px 0px;
  margin-bottom: 20px;
}

section {
  background-color: lighten($charcoal, 80%);
  border-bottom: 4px solid $blue;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.nav-next {
  float: right;
  margin: 20px 0px;
}

.nav-previous {
  float: left;
  margin: 20px 0px;
}

.entry-meta {
  margin-bottom: 20px;
  color: #6a6565;
}

.wp-video-shortcode {
	max-width: 100%;
}

.wp-audio-shortcode {
	max-width: 100%;
}

.alignleft {
  float: left;
  margin: 0px 20px 20px 0px;
  display: inline-block;
}

.alignright {
  float: right;
  margin-left: 20px;
}

.tiled-gallery-item img {
  width: 100%;
  height: auto;
}

.caption { /* featured image caption */
  font-style: italic;
  font-size: .8em;
  text-align: center;
  color: lighten($charcoal, 25%);
}

.sidebar h1 {
  font-size: 1.2em;
}

.sidebar {
  margin: 20px 0px;
}

.more-link {
  display: inline-block;
  margin-top: 10px;
}

.comments-link {
  display: inline-block;
  margin-top: 10px;
}

.avatar {
  max-height: 36px;
  max-width: 36px;
}

.comment-content img {
  max-height: 18px;
  max-width: 18px;
  border: none;
}

.edit-link a {
  margin-left: 10px;
  color: #458e57;
}

/*Article End*/ 

/*!Post Formats */

.standard-format img, .image-format img, .gallery-format img, .video-format img {
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

/* Post Formats End */

/*!Form*/ 

input[type=search], input[type=text], input[type=email], input[type=submit], input[type=password] {
  -webkit-appearance: none;
}

input[type=text], input[type=email], input[type=password] {
  width: 50%;
  @include transition;
  @include form;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus {
  border: 1px solid rgba(255,144,144,0.94);
  box-shadow: 0 0 2px rgba(243,14,14,0.66);
}

textarea {
  width: 70%;
  @include transition;
  @include form;
}

textarea:focus {
  border: 1px solid rgba(255,144,144,0.94);
  box-shadow: 0 0 2px rgba(243,14,14,0.66);
}

input[type=submit], #comment-submit {
  @include hover;
  color: #ffffff;
  border: none;
  background-color: $red;
  outline: none;
  border-radius: 2px;
  padding: 2px 6px;
}

input[type=submit]:focus, input[type=submit]:hover {
  background-color: darken($red, 15%);
}

.contact-form label {
  font-size: 1em !important;
  font-weight: 200 !important;
}

.contact-form label span {
  display: none;
}

.contact-form {
  margin: 20px 0px;
}

.search-form {
  margin-bottom: 12px;
}

.jetpack_subscription_widget {
  padding: 2px 10px;
  margin: 6px 0px 0px 0px;
  background-color: lighten($charcoal, 80%);
}

.jetpack_subscription_widget input[type=text] {
  width: 99% !important;
  @include transition;
  outline: none;
  border: 1px solid lighten($charcoal, 50%);
  border-radius: 2px;
  -webkit-box-shadow: 
      inset 0 1px 2px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 
      inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 
      inset 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 2px 6px !important;
}

.jetpack_subscription_widget input[type=text]:focus  {
  border: 1px solid rgba(255,144,144,0.94);
  box-shadow: 0 0 2px rgba(243,14,14,0.66);
}

.widget_search {
  padding: 2px 10px 8px 10px;
  margin: 6px 0px 0px 0px;
  background-color: lighten($charcoal, 80%);
}

aside .search-field {
  width: 95%;
  margin-top: 20px;
  @include transition;
  @include form;
}

aside .search-field:focus {
  border: 1px solid rgba(255,144,144,0.94);
  box-shadow: 0 0 2px rgba(243,14,14,0.66);
}

.not-found .search-field {
  width: 20%;
  @include transition;
  @include form;
}

.not-found .search-field:focus {
  width: 96%;
  border: 1px solid rgba(255,144,144,0.94);
  box-shadow: 0 0 4px rgba(243,14,14,0.66);
}

/*!Form End*/ 

/*!Search*/
.not-found img {
  margin: 20px 0px;
}

.not-found h1 {
  margin: 20px 0px;
}

.not-found p {
  font-size: 1.2em;
  text-align: center;
}

/*!Search End*/ 

/*!Syntax Highlight*/

pre {
  background-color: lighten($charcoal, 75%);
  padding: 10px;
  border-radius: 2px;
  color: $charcoal;
}

code {
  background-color: lighten($charcoal, 75%);
  padding: 2px 4px;
  border-radius: 2px;
  color: $charcoal;
  font-weight: 400;
  font-size: 0.9em;
}

.highlight {
  font-size: 0.9em;
}

pre, code {
  font-family: 'Ubuntu', sans-serif !important;
}

/*Syntax Highlight End*/

/*!Gallery*/

.gallery li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.gallery img {
  max-width: 150px;
  float: left;
  margin: 0px 8px 8px 0px;
}

.gallery:after {
  content: "";
  display: table;
  clear: both;
}

/*Gallery End*/

/*!Video*/

.embed-vimeo, .embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px; /*to remove the black bars*/
  height: 0;
  margin: 20px 0px; /*to add space for Disqus comments*/
}

.embed-vimeo iframe, .embed-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Video End*/

@media only screen and (max-width: 956px) {

.gallery img {
    max-width: 140px;
}

.eight img, .nine img, .ten img {
  width: 100%;
  height: auto;
}

.medium img {
  width: 300px;
  height: auto;
}

.standard-format img, .image-format img, .gallery-format img, .video-format img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.entry-content .alignleft {
  width: 200px;
  height: auto;
}

.entry-content .alignright {
  width: 200px;
  height: auto;
}

}

@media only screen and (max-width: 767px) {

body {
  font-size: 1em;
}

.gallery img {
    max-width: 90px;
    margin: 0px 6px 6px 0px;
}

.medium img {
  width: 250px;
  height: auto;
}

.entry-content .alignleft {
  width: 150px;
  height: auto;
}

.entry-content .alignright {
  width: 150px;
  height: auto;
}

.meta li:nth-child(2) {
    display: inline-block;
    float: left;
    margin: 16px 0px 10px 0px;
}

.meta li:nth-child(3) {
    display: inline-block;
    float: left;
    margin: 0px 0px 16px 0px;
}

header h1 {
    font-size: 1.6em;
}

.skull img {
  width: 50px;
  height: 50px;
}

.excerpt {
  width: 100%;
  float: none;
  display: inline-block;
  margin-top: 10px;
}

.not-found .search-field {
  width: 50%;
}

input[type=text], input[type=email], input[type=password] {
  width: 100% !important;
}

input[type=password] {
  margin-bottom: 20px;
}

textarea {
  width: 100% !important;
}

.avatar {
  max-height: 32px;
  max-width: 32px;
  border: 1px solid black;
}

.eight .comments-area img, .ten .comments-area img {
  border: none !important;
}

.comment-content img {
  max-height: 16px;
  max-width: 16px;
  border: none;
}

.menu {
    margin: 0px 0px 20px 60px;
    font-size: 1.2em;
}

.search {
    display: inline-block;

}

.search input {
    padding: 2px 6px;
    border-radius: 2px;
    width: 150%;
    border: 1px solid black;
    background-image: url(images/crossword.jpg)
}


}


